body {
    padding: 0;
    margin: 0;
    color: #070707;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

.header {
    padding-top: 32px;
    /*Делает отступ сверху*/
}

.container {
    width: 940.6px;
    margin: 0 auto;
    /* border: 1px solid black */
}

.big {
    font-size: 18px;
    font-family: 'Oswald';
    font-weight: 700;
}

a {
    color: #070707;
    text-decoration: none;
    /*убирает нахуй ссылки*/
}

.nav {

    display: flex;
    /*делает строку*/
    justify-content: space-between;
    /*оцентровывает все слова по строке*/
    align-items: center;
    /*оцентровывает все*/
    position: relative;
}

.text {
    color: #828282;
}

.line {
    border-bottom: 1px solid #828282;
    /* Параметры линии */
    padding-top: 20px;
}

.name {
    display: flex;
    justify-content: space-between;
}

.den {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 47.3392px;
    line-height: 59px;
}

.des {
    font-family: 'Oswald';
    font-size: 18px;
    line-height: 22px;
    padding: 98px;
    padding-left: 15px;
}

.vertical_text {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    padding-top: 118px;
}

.img {
    transform: translate(0px, -50px);
}

.about {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 34px;
    
}

.aboutme {
    
    font-size: 18px;
}


.sdvig {
    text-align: center;
    padding-top: 100px;
    background-color: #F6F6F6;
    padding-bottom: 100px;
    width: 100%;

}

.skill {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    padding-top: px;
}

.i {
    text-align: center;
    font-size: 18px;
    padding-top: 40px;
}

.ps {
    width: 940.6px;
    padding-top: 83.5px;
}

